* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.css linguist-detectable=false
*.js linguist-detectable=false
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
